/*.header {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    z-index: 100;*/
/*}*/

.navbar {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2),
            0 5px 20px rgb(127 137 161 / 30%);
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 33px;
    left: -2px;
    right: -2px;
    bottom: 5px;
    background-color: #2b2f32;
    /*border-bottom: 2px solid blue;*/
    transform: scale(0);
    transition: all .3s;
}

.nav-link:hover::before {
    transform: scale(1);
}

/*.nav-link:hover {*/
/*    text-decoration: underline;*/
/*}*/

.navbar-nav a.nav-link.active {
    color: blue;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.nav-item:not(:last-child) {
    margin-right: 24px;
}

/*.first {*/
/*    padding-top: 56px;*/
/*    background-color: #e7e8ee;*/
/*}*/

.odd {
    background-color: #e7e8ee;
}

.screen {
    padding: 20px 5px;
    /*padding: 76px 5px 20px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/*.screen:first-of-type {*/
/*    padding-top: 0;*/
/*}*/

@media (orientation: landscape) {
    .screen {
        min-height: 100vh;
    }
}

.container {
    max-width: 768px;
}

.bi {
    opacity: 0.8;
}
